$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(min-width: 991px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

$redColor: #e2494c;
$greyColor: #9c9c9c;

$lang: english;
